* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
}

.text-white {
  color: #fff !important;
}

.text-center {
  text-align: center !important;
}

.row {
  margin: 0 -8px;
}

.row::after {
  display: block;
  clear: both;
  content: "";
}

.col {
  float: left;
  padding: 0 8px;
}

.col-3 {
  width: calc(100% / 3);
}

.col-2 {
  width: calc(100% / 2);
}

.col-1 {
  width: 100%;
}

.mt-8 {
  margin-top: 8px;
}

.mt-16 {
  margin-top: 16px;
}

#main {}

#header {
  height: 46px;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

#nav {
  display: inline-block;
}

#nav,
.subnav {
  list-style-type: none;
}

#nav>li {
  display: inline-block;
}

#nav li {
  position: relative;
}

#nav>li>a {
  color: #fff;
  text-transform: uppercase;
}

#nav li a {
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  display: block;
}

#nav li:hover .subnav {
  display: block;
}

#nav>li:hover>a,
#nav .subnav li:hover {
  color: #000;
  background-color: #ccc;
}

#nav .subnav {
  display: none;
  min-width: 160px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
  color: #000;
  padding: 0 12px;
}

#nav .nav-arrow-down {
  font-size: 14px;
}

#header .mobile-menu {
  display: none;
}

#header .mobile-menu {
  position: absolute;
  right: 0;
  top: 0;
}

#header .search-btn,
#header .mobile-menu {
  float: right;
  padding: 0 21px;
}

#header .search-icon,
#header .menu-icon {
  color: #fff;
  font-size: 20px;
  line-height: 46px;
  font-weight: 800;
}

#header .search-btn:hover {
  cursor: pointer;
  background-color: #f44336;
}

#header .mobile-menu:hover {
  background-color: #ccc;
}

#header .mobile-menu:hover .menu-icon {
  color: #000;
}

#slider {
  margin-top: 46px;
  padding-top: 50%;
  background: url("img/slider1.jpg") top center / cover no-repeat;
  position: relative;
}

#slider .text-content {
  position: absolute;
  color: #fff;
  bottom: 47px;
  width: 100%;
  text-align: center;
}

#slider .text-heading {
  font-weight: 500;
  font-size: 24px;
}

#slider .text-desc {
  font-size: 15px;
  margin-top: 25px;
  font-weight: 600;
}

#content {}

#content .content-section {
  width: 800px;
  max-width: 100%;
  margin: auto;
  padding: 64px 0 112px;
  padding-left: 16px;
  padding-right: 16px;
}

#content .content-section .section-heading {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 4px;
}

#content .content-section .section-sub-heading {
  font-size: 15px;
  text-align: center;
  margin-top: 25px;
  font-style: italic;
  opacity: 0.6;
}

#content .content-section .about {
  font-size: 15px;
  margin-top: 25px;
  text-align: justify;
  line-height: 1.4;
}

#content .team {
  margin-top: 48px;
  overflow: hidden;
}

#content .member-name {
  font-size: 15px;
}

#content .member-img {
  margin-top: 15px;
  width: 154px;
  border-radius: 5px;
}

#content .tour {
  background-color: #000;
}

.ticket {
  background-color: #fff;
  margin-top: 40px;
  list-style-type: none;
}

.ticket li {
  font-size: 15px;
  padding: 11px 16px;
  border-bottom: 1px solid #ddd;
  color: #757575;
}

.ticket li .sold-out {
  background-color: #f44336;
  color: #fff;
  padding: 3px 4px;
  margin-left: 16px;
}

.ticket li .quanlity {
  float: right;
  width: 24px;
  height: 24px;
  background-color: #000;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  color: #fff;
  margin-top: -3px;
}

.place-list {
  margin-top: 16px;
  overflow: hidden;
}

.place-img {
  width: 100%;
  display: block;
}

.place-img:hover {
  opacity: 0.6;
}

.place-body {
  background-color: #fff;
  padding: 10px 16px;
}

.place-heading {
  margin-top: 5px;
  font-size: 15px;
}

.place-time {
  margin-top: 15px;
  opacity: 0.6;
}

.place-desc {
  margin-top: 15px;
  line-height: 1.4;
}

.btn {
  margin-top: 15px;
  background-color: #000;
  font-size: 15px;
  color: #fff;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #ccc;
  color: #000;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 100px;
  display: none;
}

.content-modal {
  margin: 0 auto;
  background-color: #fff;
  max-width: 100%;
  width: 900px;
  position: relative;
  animation: show 0.4s ease-out forwards;
}

.modal-header {
  color: #fff;
  background-color: #009688;
  padding: 42px 0;
  text-align: center;
  font-size: 20px;
  letter-spacing: 4px;
}

.ti-bag {
  margin-right: 10px;
}

.modal-body {
  padding: 0 16px 16px;
}

.modal-body>p {
  margin: 16px 0;
}

.ti-shopping-cart,
.ti-user {
  margin-right: 5px;
}

.modal-body>input {
  padding: 8px;
  width: 100%;
  display: block;
  border: 1px solid #ccc;
  outline: none;
  font-size: 15px;
}

.modal-btn {
  background-color: #009688;
  border: none;
  outline: none;
  cursor: pointer;
  width: 100%;
  padding: 16px 0;
  margin: 16px 0;
  font-size: 15px;
  color: #fff;
  font-weight: 600;
}

.modal-body>input:focus {
  border-color: #000;
  border-radius: 4px;
}

.modal-btn:hover,
.modal-close:hover {
  color: #000;
  background-color: #ccc;
}

.modal-footer {
  margin-top: 15px;
}

.modal-close {
  background-color: #f44336;
  border: none;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  white-space: nowrap;
  font-weight: 600;
  font-size: 14px;
}

.ti-close {
  font-size: 10px;
  margin-left: 2px;
}

.modal-help {
  float: right;
  font-size: 14px;
}

.modal-exit {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  color: white;
  font-weight: 900;
  text-align: center;
  line-height: 35px;
}

.modal-exit:hover {
  background-color: #ccc;
}

.show {
  display: block;
}

.contact {
  margin-top: 48px;
}

.contact-info {
  font-size: 18px;
  line-height: 1.5;
}

.contact-info i[class*="ti-"] {
  width: 30px;
  display: inline-block;
}

.contact-form {
  font-size: 15px;
}

.contact-form .form-control {
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
}

.form-btn {
  float: right;
}

.map-section img {
  width: 100%;
  filter: grayscale(50%);
}

#footer {
  padding: 64px 16px;
  text-align: center;
}

.social {
  font-size: 24px;
}

#footer .social a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}

#footer p {
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.6);
}

#footer p a {
  color: rgba(0, 0, 0, 0.6);
}

#footer a:hover {
  color: rgba(0, 0, 0, 0.4);
}

@keyframes show {
  0% {
    transform: translateY(-150%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}